@media (min-width: 320px) and (max-width: 426px) {
	.wine-serv-section {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-serv-item-top {
		text-align: center;
	}

	.wine-serv-title-top {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.wine-serv-subtittle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-pattern {
		margin: auto;
		width: 200px;
		height: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.wine-serv-description-top {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 50px;
	}

	.wine-serv-image {
		margin: auto;
	}

	.wine-serv-item-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		padding-top: 50px;
	}

	.wine-serv-items {
		padding: 0;
	}

	.wine-serv-title {
		position: relative;
		color: var(--light-color);
		padding-bottom: 20px;
		font-size: 22px;
		font-weight: 500;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-title::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		border-bottom: 2px solid var(--brand-color);
	}

	.wine-serv-description {
		color: var(--light-hover-color);
		padding-top: 20px;
		font-size: 18px;
	}

	.section-wines-adver {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/people-glasses.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.wines-adver-text {
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		font-size: 20px;
		font-weight: 500;
	}

	.wines-adver-subtext {
		font-size: 60px;
		color: var(--light-color);
		font-family: 'Kalnia', serif;
		font-weight: 600;
	}

	.wines-image-patterns {
		margin: auto;
		width: 230px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.wines-text-subimage {
		color: var(--light-color);
		font-weight: 500;
		font-size: 20px;
	}

	.wine-deals {
		padding-top: 100px;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-deals-product-title {
		color: var(--brand-color);
		font-size: 20px;
		font-weight: 500;
		font-family: 'Smooch', cursive;
		padding-bottom: 10px;
	}

	.wine-deals-product-subtitle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-deals-product-image {
		width: 230px;
		height: auto;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.wine-deals-product-description {
		font-weight: 500;
		color: var(--light-color);
		font-size: 20px;
	}

	.wine-deals-product-products {
		padding-top: 50px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	.wine-product {
		background-color: var(--background-color);
		padding-bottom: 30px;
		margin: auto;
	}

	.wine-product-image {
		margin: auto;
		width: 250px;
		height: auto;
	}

	.wine-product-name {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		position: relative;
		padding-bottom: 15px;
	}

	.wine-product-name::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		border-bottom: 2px solid var(--medium-color);
	}

	.wine-product-price {
		color: var(--light-hover-color);
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 20px;
		font-weight: 600;
	}

	.wine-product-button-shop {
		font-size: 14px;
		font-weight: 600;
		padding: 15px 20px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--brand-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
	}

	.wine-product-button-shop:hover {
		background-color: var(--brand-color);
	}
}
@media (min-width: 426px) and (max-width: 770px) {
	.wine-serv-section {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-serv-item-top {
		text-align: center;
	}

	.wine-serv-title-top {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.wine-serv-subtittle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-pattern {
		margin: auto;
		width: 200px;
		height: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.wine-serv-description-top {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 50px;
	}

	.wine-serv-image {
		margin: auto;
		max-width: 500px;
	}

	.wine-serv-item-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		padding-top: 50px;
	}

	.wine-serv-items {
		width: 270px;
		justify-content: center;
		margin: auto;
	}

	.wine-serv-title {
		position: relative;
		color: var(--light-color);
		padding-bottom: 20px;
		font-size: 22px;
		font-weight: 500;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-title::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		border-bottom: 2px solid var(--brand-color);
	}

	.wine-serv-description {
		color: var(--light-hover-color);
		padding-top: 20px;
		font-size: 18px;
	}

	.section-wines-adver {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/people-glasses.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.wines-adver-text {
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		font-size: 20px;
		font-weight: 500;
	}

	.wines-adver-subtext {
		font-size: 60px;
		color: var(--light-color);
		font-family: 'Kalnia', serif;
		font-weight: 600;
	}

	.wines-image-patterns {
		margin: auto;
		width: 230px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.wines-text-subimage {
		color: var(--light-color);
		font-weight: 500;
		font-size: 20px;
	}

	.wine-deals {
		padding-top: 100px;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-deals-product-title {
		color: var(--brand-color);
		font-size: 20px;
		font-weight: 500;
		font-family: 'Smooch', cursive;
		padding-bottom: 10px;
	}

	.wine-deals-product-subtitle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-deals-product-image {
		width: 230px;
		height: auto;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.wine-deals-product-description {
		font-weight: 500;
		color: var(--light-color);
		font-size: 20px;
	}

	.wine-deals-product-products {
		padding-top: 50px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	.wine-product {
		background-color: var(--background-color);
		padding-bottom: 30px;
		margin: auto;
	}

	.wine-product-image {
		margin: auto;
		width: 250px;
		height: auto;
	}

	.wine-product-name {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		position: relative;
		padding-bottom: 15px;
	}

	.wine-product-name::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		border-bottom: 2px solid var(--medium-color);
	}

	.wine-product-price {
		color: var(--light-hover-color);
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 20px;
		font-weight: 600;
	}

	.wine-product-button-shop {
		font-size: 14px;
		font-weight: 600;
		padding: 15px 20px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--brand-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
	}

	.wine-product-button-shop:hover {
		background-color: var(--brand-color);
	}
}
@media (min-width: 770px) and (max-width: 1025px) {
	.wine-serv-section {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-serv-item-top {
		text-align: center;
	}

	.wine-serv-title-top {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.wine-serv-subtittle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-pattern {
		margin: auto;
		width: 200px;
		height: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.wine-serv-description-top {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 50px;
	}

	.wine-serv-image {
		margin: auto;
		max-width: 500px;
	}

	.wine-serv-item-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		padding-top: 50px;
	}

	.wine-serv-items {
		width: 270px;
		justify-content: center;
		margin: auto;
	}

	.wine-serv-title {
		position: relative;
		color: var(--light-color);
		padding-bottom: 20px;
		font-size: 22px;
		font-weight: 500;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-title::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		border-bottom: 2px solid var(--brand-color);
	}

	.wine-serv-description {
		color: var(--light-hover-color);
		padding-top: 20px;
		font-size: 18px;
	}

	.section-wines-adver {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/people-glasses.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.wines-adver-text {
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		font-size: 20px;
		font-weight: 500;
	}

	.wines-adver-subtext {
		font-size: 60px;
		color: var(--light-color);
		font-family: 'Kalnia', serif;
		font-weight: 600;
	}

	.wines-image-patterns {
		margin: auto;
		width: 230px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.wines-text-subimage {
		color: var(--light-color);
		font-weight: 500;
		font-size: 20px;
	}

	.wine-deals {
		padding-top: 100px;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.wine-deals-product-title {
		color: var(--brand-color);
		font-size: 20px;
		font-weight: 500;
		font-family: 'Smooch', cursive;
		padding-bottom: 10px;
	}

	.wine-deals-product-subtitle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-deals-product-image {
		width: 230px;
		height: auto;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.wine-deals-product-description {
		font-weight: 500;
		color: var(--light-color);
		font-size: 20px;
	}

	.wine-deals-product-products {
		padding-top: 80px;
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}

	.wine-product {
		background-color: var(--background-color);
		padding-bottom: 30px;
		margin: auto;
	}

	.wine-product-image {
		margin: auto;
		width: 250px;
		height: auto;
	}

	.wine-product-name {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		position: relative;
		padding-bottom: 15px;
	}

	.wine-product-name::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		border-bottom: 2px solid var(--medium-color);
	}

	.wine-product-price {
		color: var(--light-hover-color);
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 20px;
		font-weight: 600;
	}

	.wine-product-button-shop {
		font-size: 14px;
		font-weight: 600;
		padding: 15px 20px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--brand-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
	}

	.wine-product-button-shop:hover {
		background-color: var(--brand-color);
	}
}
@media (min-width: 1025px) {
	.wine-serv-section {
		padding-top: 100px;
		padding-left: 35px;
		padding-right: 35px;
		display: flex;
		justify-content: center;
		margin: auto;
		gap: 50px;
	}

	.wine-serv-item-top {
		text-align: center;
	}

	.wine-serv-title-top {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.wine-serv-subtittle {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-pattern {
		margin: auto;
		width: 200px;
		height: auto;
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.wine-serv-description-top {
		color: var(--light-color);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 50px;
	}

	.wine-serv-image {
		margin: auto;
		max-width: 400px;
	}

	.wine-serv-item-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		padding-top: 20px;
	}

	.wine-serv-items {
		width: 230px;
		margin: auto;
	}

	.wine-serv-title {
		position: relative;
		color: var(--light-color);
		padding-bottom: 20px;
		font-size: 22px;
		font-weight: 500;
		font-family: 'Kalnia', serif;
	}

	.wine-serv-title::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		border-bottom: 2px solid var(--brand-color);
	}

	.wine-serv-description {
		color: var(--light-hover-color);
		padding-top: 20px;
		font-size: 18px;
	}

	.section-wines-adver {
		margin-top: 150px;
		padding-top: 100px;
		padding-left: 35px;
		padding-right: 35px;
		text-align: center;
		background-image: url(../images/people-glasses.jpg);
		padding-bottom: 100px;
		background-size: cover;
		background-attachment: fixed;
	}

	.wines-adver-text {
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		font-size: 25px;
		font-weight: 500;
	}

	.wines-adver-subtext {
		font-size: 80px;
		color: var(--light-color);
		font-family: 'Kalnia', serif;
		font-weight: 600;
	}

	.wines-image-patterns {
		margin: auto;
		width: 260px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.wines-text-subimage {
		color: var(--light-color);
		font-weight: 500;
		font-size: 25px;
	}

	.wine-deals {
		padding-top: 100px;
		text-align: center;
		padding-left: 35px;
		padding-right: 35px;
	}

	.wine-deals-product-title {
		color: var(--brand-color);
		font-size: 25px;
		font-weight: 500;
		font-family: 'Smooch', cursive;
		padding-bottom: 10px;
	}

	.wine-deals-product-subtitle {
		color: var(--light-color);
		font-size: 55px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.wine-deals-product-image {
		width: 280px;
		height: auto;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.wine-deals-product-description {
		font-weight: 500;
		color: var(--light-color);
		font-size: 25px;
	}

	.wine-deals-product-products {
		padding-top: 100px;
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}

	.wine-product {
		background-color: var(--background-color);
		padding-bottom: 30px;
		margin: auto;
	}

	.wine-product-image {
		margin: auto;
		width: 280px;
		height: auto;
	}

	.wine-product-name {
		color: var(--light-color);
		font-size: 22px;
		font-weight: 500;
		position: relative;
		padding-bottom: 15px;
	}

	.wine-product-name::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		border-bottom: 2px solid var(--medium-color);
	}

	.wine-product-price {
		color: var(--light-hover-color);
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 20px;
		font-weight: 600;
	}

	.wine-product-button-shop {
		font-size: 17px;
		font-weight: 600;
		padding: 15px 20px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--brand-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
	}

	.wine-product-button-shop:hover {
		background-color: var(--brand-color);
	}
}

.wine-serv-items {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.wine-serv-items.show {
	opacity: 1;
	transform: translateY(0);
}

.wine-product {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.wine-product.show {
	opacity: 1;
	transform: translateY(0);
}
