@media (min-width: 320px) and (max-width: 426px) {
	.section-wines-contact {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/wine-bottle-contact.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.section-contact {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 100px;
	}

	.contact-container-top {
		padding-bottom: 50px;
		text-align: center;
	}

	.contact-top-text {
		font-size: 30px;
		font-family: 'Kalnia', serif;
		font-weight: 600;
		color: var(--light-color);
	}

	.contact-top-text-span {
		color: var(--brand-color);
		font-size: 32px;
	}

	.contact-top-subtext {
		padding-top: 10px;
		color: var(--light-hover-color);
		font-weight: 500;
		font-size: 20px;
	}

	.contact-top-btn {
		font-size: 25px;
		font-family: 'Crimson Pro', serif;
		font-weight: 600;
		padding: 15px 40px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--light-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 15px;
	}

	.contact-top-btn:hover {
		background-color: var(--light-color);
		color: var(--dark-color);
	}

	.contact-container-bottom {
		padding: 0;
	}

	.container-form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-subscribe-contact {
		display: flex;
		flex-direction: column;
	}

	.input-form,
	textarea {
		margin: 1em 0 1em 0;
		width: 300px;
		position: relative;
	}

	.input-form input,
	textarea {
		font-size: 100%;
		padding: 0.7em;
		outline: none;
		color: #ffffff;
		border: none;
		border-bottom: 2px solid var(--brand-color);
		background: transparent;
		border-radius: none;
		width: 100%;
		resize: none;
	}

	.input-form label {
		font-size: 100%;
		position: absolute;
		left: 0;
		color: var(--light-hover-color);
		padding: 0.7em;
		margin-left: 0.1em;
		pointer-events: none;
		transition: all 0.5s ease;
		text-transform: uppercase;
	}

	.input-form :is(input:focus, input:valid) ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.input-form textarea:focus ~ label,
	.input-form textarea:valid ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.inputGroup :is(input:focus, input:valid) {
		border-color: rgba(255, 255, 255, 0);
	}

	.form-subscribe-contact button {
		padding: 15px 30px;
		text-align: center;
		font-size: 20px;
		font-family: 'Crimson Pro', serif;
		background-color: var(--brand-color);
		color: var(--light-color);
		transition: all 0.5s;
		display: block;
		margin: 0 auto;
	}

	.form-subscribe-contact button:hover {
		color: var(--light-color);
		background-color: var(--brand-hover-color);
	}

	.section-location {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.location-text {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.location-subtext {
		color: var(--light-color);
		font-size: 30px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.location-container-contacts {
		padding-top: 25px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.location-contacts-location {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
	}

	.location-contacts-numemail {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
		transition: all 0.5s;
	}

	.location-contacts-numemail:hover {
		color: var(--light-color);
	}

	.location-map {
		margin-top: 50px;
		width: 230px;
		height: 280px;
		border: 4px solid var(--light-brand-color);
	}
}
@media (min-width: 426px) and (max-width: 770px) {
	.section-wines-contact {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/wine-bottle-contact.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.section-contact {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 100px;
	}

	.contact-container-top {
		padding-bottom: 50px;
		text-align: center;
	}

	.contact-top-text {
		font-size: 30px;
		font-family: 'Kalnia', serif;
		font-weight: 600;
		color: var(--light-color);
	}

	.contact-top-text-span {
		color: var(--brand-color);
		font-size: 32px;
	}

	.contact-top-subtext {
		padding-top: 10px;
		color: var(--light-hover-color);
		font-weight: 500;
		font-size: 20px;
	}

	.contact-top-btn {
		font-size: 25px;
		font-family: 'Crimson Pro', serif;
		font-weight: 600;
		padding: 15px 40px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--light-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 15px;
	}

	.contact-top-btn:hover {
		background-color: var(--light-color);
		color: var(--dark-color);
	}

	.contact-container-bottom {
		padding: 0;
	}

	.container-form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-subscribe-contact {
		display: flex;
		flex-direction: column;
	}

	.input-form,
	textarea {
		margin: 1em 0 1em 0;
		width: 360px;
		position: relative;
	}

	.input-form input,
	textarea {
		font-size: 100%;
		padding: 0.7em;
		outline: none;
		color: #ffffff;
		border: none;
		border-bottom: 2px solid var(--brand-color);
		background: transparent;
		border-radius: none;
		width: 100%;
		resize: none;
	}

	.input-form label {
		font-size: 100%;
		position: absolute;
		left: 0;
		color: var(--light-hover-color);
		padding: 0.7em;
		margin-left: 0.1em;
		pointer-events: none;
		transition: all 0.5s ease;
		text-transform: uppercase;
	}

	.input-form :is(input:focus, input:valid) ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.input-form textarea:focus ~ label,
	.input-form textarea:valid ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.inputGroup :is(input:focus, input:valid) {
		border-color: rgba(255, 255, 255, 0);
	}

	.form-subscribe-contact button {
		padding: 15px 30px;
		text-align: center;
		font-size: 20px;
		font-family: 'Crimson Pro', serif;
		background-color: var(--brand-color);
		color: var(--light-color);
		transition: all 0.5s;
		display: block;
		margin: 0 auto;
	}

	.form-subscribe-contact button:hover {
		color: var(--light-color);
		background-color: var(--brand-hover-color);
	}

	.section-location {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.location-text {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.location-subtext {
		color: var(--light-color);
		font-size: 30px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.location-container-contacts {
		padding-top: 25px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.location-contacts-location {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
	}

	.location-contacts-numemail {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
		transition: all 0.5s;
	}

	.location-contacts-numemail:hover {
		color: var(--light-color);
	}

	.location-map {
		margin-top: 50px;
		width: 330px;
		height: 280px;
		border: 4px solid var(--light-brand-color);
	}
}
@media (min-width: 770px) and (max-width: 1025px) {
	.section-wines-contact {
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		background-image: url(../images/wine-bottle-contact.jpg);
		padding-bottom: 100px;
		background-size: cover;
	}

	.section-contact {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 100px;
	}

	.contact-container-top {
		padding-bottom: 50px;
		text-align: center;
	}

	.contact-top-text {
		font-size: 30px;
		font-family: 'Kalnia', serif;
		font-weight: 600;
		color: var(--light-color);
	}

	.contact-top-text-span {
		color: var(--brand-color);
		font-size: 32px;
	}

	.contact-top-subtext {
		padding-top: 20px;
		color: var(--light-hover-color);
		font-weight: 500;
		font-size: 20px;
	}

	.contact-top-btn {
		font-size: 25px;
		font-family: 'Crimson Pro', serif;
		font-weight: 600;
		padding: 15px 40px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--light-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 25px;
	}

	.contact-top-btn:hover {
		background-color: var(--light-color);
		color: var(--dark-color);
	}

	.contact-container-bottom {
		padding: 0;
	}

	.container-form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-subscribe-contact {
		display: flex;
		flex-direction: column;
	}

	.input-form,
	textarea {
		margin: 1em 0 1em 0;
		width: 460px;
		position: relative;
	}

	.input-form input,
	textarea {
		font-size: 100%;
		padding: 0.7em;
		outline: none;
		color: #ffffff;
		border: none;
		border-bottom: 2px solid var(--brand-color);
		background: transparent;
		border-radius: none;
		width: 100%;
		resize: none;
	}

	.input-form label {
		font-size: 100%;
		position: absolute;
		left: 0;
		color: var(--light-hover-color);
		padding: 0.7em;
		margin-left: 0.1em;
		pointer-events: none;
		transition: all 0.5s ease;
		text-transform: uppercase;
	}

	.input-form :is(input:focus, input:valid) ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.input-form textarea:focus ~ label,
	.input-form textarea:valid ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.inputGroup :is(input:focus, input:valid) {
		border-color: rgba(255, 255, 255, 0);
	}

	.form-subscribe-contact button {
		padding: 15px 30px;
		text-align: center;
		font-size: 20px;
		font-family: 'Crimson Pro', serif;
		background-color: var(--brand-color);
		color: var(--light-color);
		transition: all 0.5s;
		display: block;
		margin: 0 auto;
	}

	.form-subscribe-contact button:hover {
		color: var(--light-color);
		background-color: var(--brand-hover-color);
	}

	.section-location {
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.location-text {
		font-size: 20px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.location-subtext {
		color: var(--light-color);
		font-size: 30px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.location-container-contacts {
		padding-top: 25px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.location-contacts-location {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
	}

	.location-contacts-numemail {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 18px;
		transition: all 0.5s;
	}

	.location-contacts-numemail:hover {
		color: var(--light-color);
	}

	.location-map {
		margin-top: 50px;
		width: 440px;
		height: 320px;
		border: 4px solid var(--light-brand-color);
	}
}
@media (min-width: 1025px) {
	.section-wines-contact {
		margin-top: 150px;
		padding-top: 100px;
		padding-left: 35px;
		padding-right: 35px;
		text-align: center;
		background-image: url(../images/wine-bottle-contact.jpg);
		padding-bottom: 100px;
		background-size: cover;
		background-attachment: fixed;
	}

	.section-contact {
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 100px;
		display: flex;
		align-items: center;
		gap: 70px;
		justify-content: center;
	}

	.contact-container-top {
		text-align: center;
		width: 600px;
	}

	.contact-top-text {
		font-size: 30px;
		font-family: 'Kalnia', serif;
		font-weight: 600;
		color: var(--light-color);
	}

	.contact-top-text-span {
		color: var(--brand-color);
		font-size: 32px;
	}

	.contact-top-subtext {
		padding-top: 20px;
		color: var(--light-hover-color);
		font-weight: 500;
		font-size: 20px;
	}

	.contact-top-btn {
		font-size: 25px;
		font-family: 'Crimson Pro', serif;
		font-weight: 600;
		padding: 15px 40px;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-color);
		border: 2px solid var(--light-color);
		transition: all 0.5s;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 25px;
	}

	.contact-top-btn:hover {
		background-color: var(--light-color);
		color: var(--dark-color);
	}

	.contact-container-bottom {
		padding: 0;
	}

	.container-form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-subscribe-contact {
		display: flex;
		flex-direction: column;
	}

	.input-form,
	textarea {
		margin: 1em 0 1em 0;
		width: 350px;
		position: relative;
	}

	.input-form input,
	textarea {
		font-size: 100%;
		padding: 0.7em;
		outline: none;
		color: #ffffff;
		border: none;
		border-bottom: 2px solid var(--brand-color);
		background: transparent;
		border-radius: none;
		width: 100%;
		resize: none;
	}

	.input-form label {
		font-size: 100%;
		position: absolute;
		left: 0;
		color: var(--light-hover-color);
		padding: 0.7em;
		margin-left: 0.1em;
		pointer-events: none;
		transition: all 0.5s ease;
		text-transform: uppercase;
	}

	.input-form :is(input:focus, input:valid) ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.input-form textarea:focus ~ label,
	.input-form textarea:valid ~ label {
		transform: translateY(-50%) scale(0.9);
		margin: 0em;
		padding: 0.4em;
		background: transparent;
	}

	.inputGroup :is(input:focus, input:valid) {
		border-color: rgba(255, 255, 255, 0);
	}

	.form-subscribe-contact button {
		padding: 15px 30px;
		text-align: center;
		font-size: 20px;
		font-family: 'Crimson Pro', serif;
		background-color: var(--brand-color);
		color: var(--light-color);
		transition: all 0.5s;
		display: block;
		margin: 0 auto;
	}

	.form-subscribe-contact button:hover {
		color: var(--light-color);
		background-color: var(--brand-hover-color);
	}

	.section-location {
		padding-top: 100px;
		padding-left: 35px;
		padding-right: 35px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 70px;
	}

	.location-text {
		font-size: 25px;
		color: var(--brand-color);
		font-family: 'Smooch', cursive;
		padding-bottom: 15px;
	}

	.location-subtext {
		color: var(--light-color);
		font-size: 35px;
		font-weight: 600;
		font-family: 'Kalnia', serif;
	}

	.location-container-contacts {
		padding-top: 35px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.location-contacts-location {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 20px;
	}

	.location-contacts-numemail {
		color: var(--light-hover-color);
		font-weight: 500;
		font-family: 'Crimson Pro', serif;
		font-size: 20px;
		transition: all 0.5s;
	}

	.location-contacts-numemail:hover {
		color: var(--light-color);
	}

	.location-map {
		width: 480px;
		height: 320px;
		border: 4px solid var(--light-brand-color);
	}
}

.contact-container-top {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contact-container-top.show {
	opacity: 1;
	transform: translateY(0);
}

.contact-container-bottom {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contact-container-bottom.show {
	opacity: 1;
	transform: translateY(0);
}

.animation-top,
.animation-bottom {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animation-top.show,
.animation-bottom.show {
	opacity: 1;
	transform: translateY(0);
}
